<div class=" container text-center">
  <br>
   <form (ngSubmit)="onInscription(ff)" #ff="ngForm">
      <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">FirstName</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" placeholder="FirstName" ngModel name="firstname"required>
              </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">LastName</label>
            <div class="col-sm-10">
               <input type="text" class="form-control" placeholder="LastName"  ngModel name="lastname" required>
                </div>
          </div>

   <div class="form-group row">
     <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
     <div class="col-sm-10">
       <input type="email" class="form-control" id="inputEmail3" placeholder="Email"name="email" ngModel required>
     </div>
   </div>
   <div class="form-group row">
     <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
     <div class="col-sm-10">
       <input type="password" class="form-control" id="inputPassword1" ngModel name="password" placeholder="Password" required>
     </div>
   </div>

  <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword2" ngModel name="confirmPassword" placeholder="Confirm Password" required>
      </div>
    </div>

  <p style="color:red" *ngIf="showMessage">Passwords do not Match ! </p>
  <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Sexe</label>
      <div class="col-sm-1">
  <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios"  value="male" ngModel name="sexe" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Male
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" value="female" ngModel name="sexe" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
Female

</label>
    </div>
</div>
</div>
<button type="button"class="btn btn-outline-info btn-lg"   type="submit" [disabled]="ff.invalid">Inscription</button>

 </form>
 </div>
